
	<h2> Justin's Tweets </h2>

<div class="tweets">
<ul>  <% @tweets.each do |tweet| %>
			<li>
			<%= image_tag(tweet.image_url) %>
			<h1><%= tweet.title %></h1>
			<p><%= tweet.text %></p>
			</li>
		<% end %> 
</ul>

<%= will_paginate @tweets %>
</div>