// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tweets{
	margin-left: auto;
	margin-right: auto;
		width: 500px;

}

h2{
	text-align:center;
}

h1{
	margin-left: 55px;
	color:white;
}

p{
	margin-left:55px;
	color:#D0D0D0;
	font-style:helvetica;
}